.timepicker__hours__container
{
	overflow-y : scroll;
	width      : 200px;
	max-height : 266px;
}

.timepicker__hours__container ul
{
	margin     : 0;
	padding    : 0;
	list-style : none;
}

.timepicker__hours__container ul li a
{
	display : block;
	cursor  : pointer;
	padding : 10px;
}
